Census of Drug and Alcohol Treatment Services in Northern Ireland:Table 4 â€“ Breakdown by Trust

In [1]:
from databaker.framework import *
import pandas as pd

In [2]:
import requests
from cachecontrol import CacheControl
from cachecontrol.caches.file_cache import FileCache
from cachecontrol.heuristics import LastModified
from pathlib import Path

session = CacheControl(requests.Session(),
                       cache=FileCache('.cache'),
                       heuristic=LastModified())

sourceFolder = Path('in')
sourceFolder.mkdir(exist_ok=True)

inputURL = 'https://www.health-ni.gov.uk/sites/default/files/publications/dhssps/data-census-drug-alcohol-treatment-services.xlsx'
inputFile = sourceFolder / 'data-census-drug-alcohol-treatment-services.xlsx'
response = session.get(inputURL)
with open(inputFile, 'wb') as f:
  f.write(response.content)

https://www.health-ni.gov.uk/sites/default/files/publications/dhssps/data-census-drug-alcohol-treatment-services.xlsx

In [3]:
tab = loadxlstabs(inputFile, sheetids='Table 4')[0]

Loading in\data-census-drug-alcohol-treatment-services.xlsx which has size 46265 bytes
Table names: ['Table 4']

In [4]:
observations = tab.excel_ref('B5').expand(DOWN).expand(RIGHT).is_not_blank() - tab.excel_ref('B20').expand(DOWN).expand(RIGHT)

In [5]:
observations

{<J8 49.0>, <L6 346.0>, <H14 14.8>, <J7 19.0>, <F10 659.0>, <H7 149.0>, <D17 19.4>, <L14 16.9>, <K17 20.0>, <H17 26.4>, <H10 267.0>, <L17 23.6>, <B10 349.0>, <I12 6.0>, <F9 676.0>, <L5 1689.0>, <L9 346.0>, <C19 0.2>, <D9 189.0>, <G15 13.5>, <G5 4095.0>, <B7 294.0>, <C10 224.0>, <M5 1874.0>, <B16 21.3>, <K16 1.6>, <D14 6.4>, <J11 11.0>, <C13 32.3>, <K6 89.0>, <D8 113.0>, <I7 138.0>, <C12 3.0>, <D7 66.0>, <I19 1.1>, <M19 2.7>, <C15 16.2>, <L8 257.0>, <E9 33.0>, <K5 185.0>, <E17 21.6>, <B15 12.6>, <K8 30.0>, <D6 292.0>, <I8 86.0>, <H12 41.0>, <M10 435.0>, <G8 554.0>, <C8 243.0>, <G14 17.5>, <I15 15.9>, <K19 2.7>, <B17 22.3>, <C18 0.0>, <C11 0.0>, <L16 20.5>, <E10 114.0>, <D19 0.5>, <D16 18.3>, <F17 18.5>, <M9 349.0>, <E15 17.4>, <F16 19.0>, <M8 287.0>, <L13 20.5>, <G18 4.2>, <I10 71.0>, <J15 15.1>, <H6 176.0>, <C7 357.0>, <I9 73.0>, <K18 0.6>, <E11 0.0>, <G7 717.0>, <H15 15.0>, <K14 11.4>, <E16 6.3>, <H9 225.0>, <M17 23.2>, <E18 0.0>, <M16 18.6>, <D15 10.9>, <D11 167.0>, <M15 15.3>, <M12 51.0>, <B14 18.8>, <J10 97.0>, <H18 0.0>, <C17 15.0>, <G11 172.0>, <F14 18.5>, <J12 4.0>, <J18 3.4>, <L7 285.0>, <M18 0.6>, <G19 2.6>, <C5 1496.0>, <K11 11.0>, <B6 288.0>, <G13 26.0>, <I16 13.5>, <K7 21.0>, <I13 30.7>, <G12 107.0>, <J5 324.0>, <E14 10.6>, <E6 233.0>, <B9 334.0>, <K13 48.1>, <I11 0.0>, <H13 17.4>, <J19 1.2>, <B12 99.0>, <K12 51.0>, <F13 23.3>, <D5 1032.0>, <J17 29.9>, <J13 28.7>, <K15 16.2>, <B11 5.0>, <M6 435.0>, <M7 306.0>, <I14 25.6>, <G9 709.0>, <C9 186.0>, <G16 17.3>, <J6 93.0>, <C14 23.9>, <G17 18.9>, <K10 37.0>, <J14 5.9>, <F19 3.0>, <G6 1063.0>, <I18 0.0>, <F7 661.0>, <F12 107.0>, <H5 1010.0>, <C6 483.0>, <E7 56.0>, <H19 4.1>, <F15 13.0>, <J9 51.0>, <I5 540.0>, <G10 773.0>, <I6 166.0>, <B5 1567.0>, <J16 15.7>, <B8 198.0>, <E8 92.0>, <I17 13.1>, <E12 0.0>, <L10 398.0>, <F8 462.0>, <F18 4.8>, <H8 152.0>, <M14 16.3>, <F6 830.0>, <E5 528.0>, <E19 0.0>, <F5 3567.0>, <D13 28.3>, <B19 6.3>, <L15 15.2>, <K9 3.0>, <F11 172.0>, <B13 18.4>, <B18 0.3>, <C16 12.4>, <H16 22.3>, <E13 44.1>, <D10 200.0>, <M13 23.2>, <D12 5.0>, <M11 11.0>, <H11 0.0>, <D18 16.2>}

In [6]:
Service = tab.excel_ref('A5').expand(DOWN).is_not_blank()
Service

{<A21 'Trust'>, <A8 'South Eastern'>, <A29 'Prison'>, <A16 'Southern (%)'>, <A7 'Northern'>, <A34 'Southern (%)'>, <A19 'Emergency admissions (HIS)  (%)'>, <A18 'Prison (%)'>, <A6 'Belfast'>, <A12 'Emergency admissions (HIS)'>, <A10 'Western'>, <A33 'South Eastern (%)'>, <A15 'South Eastern (%)'>, <A9 'Southern'>, <A35 'Western (%)'>, <A31 'Belfast (%)'>, <A5 'Total'>, <A17 'Western (%)'>, <A11 'Prison'>, <A26 'South Eastern'>, <A25 'Northern'>, <A32 'Northern (%)'>, <A14 'Northern (%)'>, <A27 'Southern'>, <A36 'Prison (%)'>, <A28 'Western'>, <A13 'Belfast (%)'>, <A37 'Emergency admissions (HIS) (%)'>, <A30 'Emergency admissions (HIS)'>, <A24 'Belfast'>, <A23 'Total'>}

In [7]:
Treatment = tab.excel_ref('B4').expand(RIGHT).is_not_blank()
Treatment

{<F4 '18 and over'>, <L4 '18 and over'>, <I4 'Drugs Only'>, <J4 'Drugs & Alcohol'>, <E4 'Under 18s'>, <C4 'Drugs Only'>, <D4 'Drugs & Alcohol'>, <H4 'Alcohol Only'>, <B4 'Alcohol Only'>, <K4 'Under 18s'>, <G4 'Total'>, <M4 'Total'>}

In [8]:
sex = tab.excel_ref('B3').expand(RIGHT).is_not_blank()
sex

{<B3 'Male'>, <H3 'Female  '>}

In [9]:
Dimensions = [
            HDim(Treatment,'Treatment Type',DIRECTLY,ABOVE),
            HDim(Service,'Trust',DIRECTLY,LEFT),
            HDim(sex,'Sex',CLOSEST,LEFT),
            HDimConst('Measure Type', 'Count'),
            HDimConst('Unit','People')
            ]

In [10]:
c1 = ConversionSegment(observations, Dimensions, processTIMEUNIT=True)
# savepreviewhtml(c1)

In [11]:
new_table = c1.topandas()
new_table

,OBS,Treatment Type,Trust,Sex,Measure Type,Unit
0,1567.0,Alcohol Only,Total,Male,Count,People
1,1496.0,Drugs Only,Total,Male,Count,People
2,1032.0,Drugs & Alcohol,Total,Male,Count,People
3,528.0,Under 18s,Total,Male,Count,People
4,3567.0,18 and over,Total,Male,Count,People
5,4095.0,Total,Total,Male,Count,People
6,1010.0,Alcohol Only,Total,Female,Count,People
7,540.0,Drugs Only,Total,Female,Count,People
8,324.0,Drugs & Alcohol,Total,Female,Count,People
9,185.0,Under 18s,Total,Female,Count,People
10,1689.0,18 and over,Total,Female,Count,People
11,1874.0,Total,Total,Female,Count,People
12,288.0,Alcohol Only,Belfast,Male,Count,People
13,483.0,Drugs Only,Belfast,Male,Count,People
14,292.0,Drugs & Alcohol,Belfast,Male,Count,People
15,233.0,Under 18s,Belfast,Male,Count,People
16,830.0,18 and over,Belfast,Male,Count,People
17,1063.0,Total,Belfast,Male,Count,People
18,176.0,Alcohol Only,Belfast,Female,Count,People
19,166.0,Drugs Only,Belfast,Female,Count,People
20,93.0,Drugs & Alcohol,Belfast,Female,Count,People
21,89.0,Under 18s,Belfast,Female,Count,People
22,346.0,18 and over,Belfast,Female,Count,People
23,435.0,Total,Belfast,Female,Count,People
24,294.0,Alcohol Only,Northern,Male,Count,People
25,357.0,Drugs Only,Northern,Male,Count,People
26,66.0,Drugs & Alcohol,Northern,Male,Count,People
27,56.0,Under 18s,Northern,Male,Count,People
28,661.0,18 and over,Northern,Male,Count,People
29,717.0,Total,Northern,Male,Count,People
...,...,...,...,...,...,...
146,18.5,18 and over,Western (%),Male,Count,People
147,18.9,Total,Western (%),Male,Count,People
148,26.4,Alcohol Only,Western (%),Female,Count,People
149,13.1,Drugs Only,Western (%),Female,Count,People
150,29.9,Drugs & Alcohol,Western (%),Female,Count,People
151,20.0,Under 18s,Western (%),Female,Count,People
152,23.6,18 and over,Western (%),Female,Count,People
153,23.2,Total,Western (%),Female,Count,People
154,0.3,Alcohol Only,Prison (%),Male,Count,People
155,0.0,Drugs Only,Prison (%),Male,Count,People
156,16.2,Drugs & Alcohol,Prison (%),Male,Count,People
157,0.0,Under 18s,Prison (%),Male,Count,People
158,4.8,18 and over,Prison (%),Male,Count,People
159,4.2,Total,Prison (%),Male,Count,People
160,0.0,Alcohol Only,Prison (%),Female,Count,People
161,0.0,Drugs Only,Prison (%),Female,Count,People
162,3.4,Drugs & Alcohol,Prison (%),Female,Count,People
163,0.6,Under 18s,Prison (%),Female,Count,People
164,0.6,Total,Prison (%),Female,Count,People
165,6.3,Alcohol Only,Emergency admissions (HIS) (%),Male,Count,People
166,0.2,Drugs Only,Emergency admissions (HIS) (%),Male,Count,People
167,0.5,Drugs & Alcohol,Emergency admissions (HIS) (%),Male,Count,People
168,0.0,Under 18s,Emergency admissions (HIS) (%),Male,Count,People
169,3.0,18 and over,Emergency admissions (HIS) (%),Male,Count,People
170,2.6,Total,Emergency admissions (HIS) (%),Male,Count,People
171,4.1,Alcohol Only,Emergency admissions (HIS) (%),Female,Count,People
172,1.1,Drugs Only,Emergency admissions (HIS) (%),Female,Count,People
173,1.2,Drugs & Alcohol,Emergency admissions (HIS) (%),Female,Count,People
174,2.7,Under 18s,Emergency admissions (HIS) (%),Female,Count,People
175,2.7,Total,Emergency admissions (HIS) (%),Female,Count,People

In [12]:
new_table.columns = ['Value' if x=='OBS' else x for x in new_table.columns]

In [13]:
new_table.dtypes

Value             float64
Treatment Type     object
Trust              object
Sex                object
Measure Type       object
Unit               object
dtype: object

In [14]:
new_table.tail(5)

,Value,Treatment Type,Trust,Sex,Measure Type,Unit
171,4.1,Alcohol Only,Emergency admissions (HIS) (%),Female,Count,People
172,1.1,Drugs Only,Emergency admissions (HIS) (%),Female,Count,People
173,1.2,Drugs & Alcohol,Emergency admissions (HIS) (%),Female,Count,People
174,2.7,Under 18s,Emergency admissions (HIS) (%),Female,Count,People
175,2.7,Total,Emergency admissions (HIS) (%),Female,Count,People

In [15]:
new_table.count()

Value             176
Treatment Type    176
Trust             176
Sex               176
Measure Type      176
Unit              176
dtype: int64

In [16]:
new_table = new_table[new_table['Value'] !=  0 ]

In [17]:
new_table.count()

Value             166
Treatment Type    166
Trust             166
Sex               166
Measure Type      166
Unit              166
dtype: int64

In [18]:
new_table = new_table[['Trust','Sex','Treatment Type','Measure Type','Value','Unit']]

In [19]:
new_table.head(5)

   Trust   Sex   Treatment Type Measure Type   Value    Unit
0  Total  Male     Alcohol Only        Count  1567.0  People
1  Total  Male       Drugs Only        Count  1496.0  People
2  Total  Male  Drugs & Alcohol        Count  1032.0  People
3  Total  Male        Under 18s        Count   528.0  People
4  Total  Male      18 and over        Count  3567.0  People

In [20]:
destinationFolder = Path('out')
destinationFolder.mkdir(exist_ok=True, parents=True)

new_table.to_csv(destinationFolder / ('tab4.1.csv'), index = False)