Census of Drug and Alcohol Treatment Services in Northern Ireland:Breakdown by Service Type

In [1]:
from gssutils import *
if is_interactive():
    import requests
    from cachecontrol import CacheControl
    from cachecontrol.caches.file_cache import FileCache
    from cachecontrol.heuristics import LastModified
    from pathlib import Path

    session = CacheControl(requests.Session(),
                           cache=FileCache('.cache'),
                           heuristic=LastModified())

    sourceFolder = Path('in')
    sourceFolder.mkdir(exist_ok=True)

    inputURL = 'https://www.health-ni.gov.uk/sites/default/files/publications/dhssps/data-census-drug-alcohol-treatment-services.xlsx'
    inputFile = sourceFolder / 'data-census-drug-alcohol-treatment-services.xlsx'
    response = session.get(inputURL)
    with open(inputFile, 'wb') as f:
      f.write(response.content)
    tab = loadxlstabs(inputFile, sheetids='Table 2')[0]

Loading in\data-census-drug-alcohol-treatment-services.xlsx which has size 46265 bytes
Table names: ['Table 2']

In [2]:
observations = tab.excel_ref('B5').expand(DOWN).expand(RIGHT).is_not_blank() - tab.excel_ref('B12').expand(DOWN).expand(RIGHT)

In [3]:
observations

{<I9 71.7>, <D9 41.5>, <D10 42.3>, <K11 0.6>, <F11 4.8>, <K6 35.0>, <F5 3567.0>, <C7 571.0>, <B11 0.3>, <F9 65.2>, <E6 96.0>, <L5 1689.0>, <C5 1496.0>, <L9 67.7>, <J11 3.4>, <M8 11.0>, <E8 0.0>, <H5 1010.0>, <G8 172.0>, <J6 141.0>, <D8 167.0>, <K9 18.9>, <L7 537.0>, <C9 61.8>, <H8 0.0>, <K10 80.0>, <I11 0.0>, <L6 1143.0>, <C10 38.2>, <M5 1874.0>, <H6 650.0>, <J8 11.0>, <K8 11.0>, <D11 16.2>, <B9 68.2>, <M9 62.9>, <E10 81.8>, <I6 387.0>, <H7 360.0>, <D7 437.0>, <H11 0.0>, <G10 36.7>, <I8 0.0>, <G9 59.1>, <K5 185.0>, <C8 0.0>, <J10 53.1>, <E11 0.0>, <I10 28.3>, <G7 1501.0>, <E9 18.2>, <M7 685.0>, <B7 493.0>, <E5 528.0>, <J9 43.5>, <G11 4.2>, <B8 5.0>, <L10 31.8>, <D6 428.0>, <D5 1032.0>, <I5 540.0>, <J7 172.0>, <E7 432.0>, <J5 324.0>, <G5 4095.0>, <H10 35.6>, <B10 31.5>, <C11 0.0>, <K7 148.0>, <B6 1069.0>, <F8 172.0>, <F10 30.0>, <F7 1069.0>, <C6 925.0>, <H9 64.4>, <I7 153.0>, <F6 2326.0>, <B5 1567.0>, <G6 2422.0>, <M6 1178.0>, <M11 0.6>, <M10 36.6>}

In [4]:
Service = tab.excel_ref('A5').expand(DOWN).is_not_blank()
Service

{<A8 'Prison'>, <A15 'Total'>, <A21 'Prison (%)'>, <A5 'Total'>, <A11 'Prison (%)'>, <A6 'Statutory'>, <A7 'Non-statutory'>, <A16 'Statutory'>, <A20 'Non-statutory (%)'>, <A13 'Service Type'>, <A10 'Non-statutory (%)'>, <A17 'Non-statutory'>, <A18 'Prison'>, <A9 'Statutory (%)'>, <A19 'Statutory (%)'>}

In [5]:
Treatment = tab.excel_ref('B4').expand(RIGHT).is_not_blank()
Treatment

{<I4 'Drugs Only'>, <C4 'Drugs Only'>, <F4 '18 and over'>, <K4 'Under 18s'>, <B4 'Alcohol Only'>, <L4 '18 and over'>, <H4 'Alcohol Only'>, <M4 'Total'>, <G4 'Total'>, <D4 'Drugs & Alcohol'>, <J4 'Drugs & Alcohol'>, <E4 'Under 18s'>}

In [6]:
sex = tab.excel_ref('B3').expand(RIGHT).is_not_blank()
sex

{<B3 'Male'>, <H3 'Female  '>}

In [7]:
Dimensions = [
            HDim(Treatment,'Treatment Type',DIRECTLY,ABOVE),
            HDim(Service,'Category',DIRECTLY,LEFT),
            HDim(sex,'Sex',CLOSEST,LEFT),
            HDimConst('Measure Type', 'Count'),
            HDimConst('Unit','People'),
            HDimConst('Period','1 March 2017'),
            HDimConst('Age','All')
            ]

In [8]:
c1 = ConversionSegment(observations, Dimensions, processTIMEUNIT=True)
# savepreviewhtml(c1)

In [9]:
new_table = c1.topandas()
new_table

,OBS,Treatment Type,Category,Sex,Measure Type,Unit,Period,Age
0,1567.0,Alcohol Only,Total,Male,Count,People,1 March 2017,All
1,1496.0,Drugs Only,Total,Male,Count,People,1 March 2017,All
2,1032.0,Drugs & Alcohol,Total,Male,Count,People,1 March 2017,All
3,528.0,Under 18s,Total,Male,Count,People,1 March 2017,All
4,3567.0,18 and over,Total,Male,Count,People,1 March 2017,All
5,4095.0,Total,Total,Male,Count,People,1 March 2017,All
6,1010.0,Alcohol Only,Total,Female,Count,People,1 March 2017,All
7,540.0,Drugs Only,Total,Female,Count,People,1 March 2017,All
8,324.0,Drugs & Alcohol,Total,Female,Count,People,1 March 2017,All
9,185.0,Under 18s,Total,Female,Count,People,1 March 2017,All
10,1689.0,18 and over,Total,Female,Count,People,1 March 2017,All
11,1874.0,Total,Total,Female,Count,People,1 March 2017,All
12,1069.0,Alcohol Only,Statutory,Male,Count,People,1 March 2017,All
13,925.0,Drugs Only,Statutory,Male,Count,People,1 March 2017,All
14,428.0,Drugs & Alcohol,Statutory,Male,Count,People,1 March 2017,All
15,96.0,Under 18s,Statutory,Male,Count,People,1 March 2017,All
16,2326.0,18 and over,Statutory,Male,Count,People,1 March 2017,All
17,2422.0,Total,Statutory,Male,Count,People,1 March 2017,All
18,650.0,Alcohol Only,Statutory,Female,Count,People,1 March 2017,All
19,387.0,Drugs Only,Statutory,Female,Count,People,1 March 2017,All
20,141.0,Drugs & Alcohol,Statutory,Female,Count,People,1 March 2017,All
21,35.0,Under 18s,Statutory,Female,Count,People,1 March 2017,All
22,1143.0,18 and over,Statutory,Female,Count,People,1 March 2017,All
23,1178.0,Total,Statutory,Female,Count,People,1 March 2017,All
24,493.0,Alcohol Only,Non-statutory,Male,Count,People,1 March 2017,All
25,571.0,Drugs Only,Non-statutory,Male,Count,People,1 March 2017,All
26,437.0,Drugs & Alcohol,Non-statutory,Male,Count,People,1 March 2017,All
27,432.0,Under 18s,Non-statutory,Male,Count,People,1 March 2017,All
28,1069.0,18 and over,Non-statutory,Male,Count,People,1 March 2017,All
29,1501.0,Total,Non-statutory,Male,Count,People,1 March 2017,All
...,...,...,...,...,...,...,...,...
52,59.1,Total,Statutory (%),Male,Count,People,1 March 2017,All
53,64.4,Alcohol Only,Statutory (%),Female,Count,People,1 March 2017,All
54,71.7,Drugs Only,Statutory (%),Female,Count,People,1 March 2017,All
55,43.5,Drugs & Alcohol,Statutory (%),Female,Count,People,1 March 2017,All
56,18.9,Under 18s,Statutory (%),Female,Count,People,1 March 2017,All
57,67.7,18 and over,Statutory (%),Female,Count,People,1 March 2017,All
58,62.9,Total,Statutory (%),Female,Count,People,1 March 2017,All
59,31.5,Alcohol Only,Non-statutory (%),Male,Count,People,1 March 2017,All
60,38.2,Drugs Only,Non-statutory (%),Male,Count,People,1 March 2017,All
61,42.3,Drugs & Alcohol,Non-statutory (%),Male,Count,People,1 March 2017,All
62,81.8,Under 18s,Non-statutory (%),Male,Count,People,1 March 2017,All
63,30.0,18 and over,Non-statutory (%),Male,Count,People,1 March 2017,All
64,36.7,Total,Non-statutory (%),Male,Count,People,1 March 2017,All
65,35.6,Alcohol Only,Non-statutory (%),Female,Count,People,1 March 2017,All
66,28.3,Drugs Only,Non-statutory (%),Female,Count,People,1 March 2017,All
67,53.1,Drugs & Alcohol,Non-statutory (%),Female,Count,People,1 March 2017,All
68,80.0,Under 18s,Non-statutory (%),Female,Count,People,1 March 2017,All
69,31.8,18 and over,Non-statutory (%),Female,Count,People,1 March 2017,All
70,36.6,Total,Non-statutory (%),Female,Count,People,1 March 2017,All
71,0.3,Alcohol Only,Prison (%),Male,Count,People,1 March 2017,All
72,0.0,Drugs Only,Prison (%),Male,Count,People,1 March 2017,All
73,16.2,Drugs & Alcohol,Prison (%),Male,Count,People,1 March 2017,All
74,0.0,Under 18s,Prison (%),Male,Count,People,1 March 2017,All
75,4.8,18 and over,Prison (%),Male,Count,People,1 March 2017,All
76,4.2,Total,Prison (%),Male,Count,People,1 March 2017,All
77,0.0,Alcohol Only,Prison (%),Female,Count,People,1 March 2017,All
78,0.0,Drugs Only,Prison (%),Female,Count,People,1 March 2017,All
79,3.4,Drugs & Alcohol,Prison (%),Female,Count,People,1 March 2017,All
80,0.6,Under 18s,Prison (%),Female,Count,People,1 March 2017,All
81,0.6,Total,Prison (%),Female,Count,People,1 March 2017,All

In [10]:
new_table.columns = ['Value' if x=='OBS' else x for x in new_table.columns]

In [11]:
new_table.dtypes

Value             float64
Treatment Type     object
Category           object
Sex                object
Measure Type       object
Unit               object
Period             object
Age                object
dtype: object

In [12]:
new_table.tail(5)

,Value,Treatment Type,Category,Sex,Measure Type,Unit,Period,Age
77,0.0,Alcohol Only,Prison (%),Female,Count,People,1 March 2017,All
78,0.0,Drugs Only,Prison (%),Female,Count,People,1 March 2017,All
79,3.4,Drugs & Alcohol,Prison (%),Female,Count,People,1 March 2017,All
80,0.6,Under 18s,Prison (%),Female,Count,People,1 March 2017,All
81,0.6,Total,Prison (%),Female,Count,People,1 March 2017,All

In [13]:
new_table.count()

Value             82
Treatment Type    82
Category          82
Sex               82
Measure Type      82
Unit              82
Period            82
Age               82
dtype: int64

In [14]:
new_table = new_table[new_table['Value'] !=  0 ]

In [15]:
new_table.count()

Value             74
Treatment Type    74
Category          74
Sex               74
Measure Type      74
Unit              74
Period            74
Age               74
dtype: int64

In [16]:
new_table = new_table[['Period','Category','Age','Sex','Treatment Type','Measure Type','Value','Unit']]

In [17]:
new_table.head(5)

,Period,Category,Age,Sex,Treatment Type,Measure Type,Value,Unit
0,1 March 2017,Total,All,Male,Alcohol Only,Count,1567.0,People
1,1 March 2017,Total,All,Male,Drugs Only,Count,1496.0,People
2,1 March 2017,Total,All,Male,Drugs & Alcohol,Count,1032.0,People
3,1 March 2017,Total,All,Male,Under 18s,Count,528.0,People
4,1 March 2017,Total,All,Male,18 and over,Count,3567.0,People